/* styleguide-dept */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --black: hsla(0, 0%, 0%, 1);
  --rose: hsla(256, 90%, 96%, 1);
  --purple: hsla(256, 93%, 53%, 1);

  --grey-darkest: hsla(0, 0%, 62%, 1);
  --grey-dark: hsla(0, 0%, 77%, 1);
  --grey-neutral: hsla(0, 0%, 85%, 1);
  --grey-light: hsla(0, 0%, 91%, 1);
  --grey-lightest: hsla(0, 0%, 96%, 1);
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
}

h1 {
  font-weight: 500;
  font-size: 72px;
  line-height: 86px;
}

h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}