body{
    margin: 0;
    padding: 0;
    line-height: 1.4;
    @media (min-width: 768px) {
      display: grid;
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr 1fr;
    }
}

header{
    height: 4.75rem;
    background-color: var(--purple);
    padding: 0;
    @media (min-width: 768px) {
    } 
}

.logo-dept{
  max-width: 100px;
  width: 100%;
  height: auto;
  @media (min-width: 968px) {
     grid-column: 1 / 2;
  }
}

main{
  @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-column: 1 /  3;
    }
     @media (min-width: 968px) {
      grid-template-rows: auto auto;
     }
}

.intro-section{
    background-color: var(--purple);
   @media (min-width: 768px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
   }
}

.intro-wrapper{
    padding: 1rem;
    h1{
        color: var(--rose);
    }
    p{
        color: var(--rose);
    }
     @media (min-width: 768px) {
      padding: 1rem 2rem 0 5rem;
    }
    @media (min-width: 968px) {
      padding: 1rem 3rem 3rem 9rem;
    }
}

.toggle-intro{
  background: none;
  border: none;
  padding-bottom: 1.5rem;
}

.toggle-intro:focus{
    outline: 2px solid var(--grey-lightest);
    outline-offset: 2px;
}

.upcoming_weather-section{
  background-color: #F2F2F2;
   @media (min-width: 768px) {
    grid-column: 2 / 3;
   }
   @media (min-width: 968px) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
   }
}

.upcoming_weather-wrapper{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: 768px) {
      padding: 2rem;
      h2,h3{
      margin-bottom: 0;
    }
    }
    @media (min-width: 968px) {
      padding: 1rem 3rem 8rem 9rem;
      gap: 3rem;
    }
}

.date{
  font-weight: 700;
}

.weather-list{
   @media (min-width: 968px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }
}

.weather-card{
  display: flex;
  flex-direction: column;
   @media (min-width: 968px) {
     flex-direction: row;
     gap: 4rem;
    }
}

.weather-row{
    display: flex;
    gap: 1.4rem;
    font-weight: 400;
    @media (min-width: 768px) {
      gap: 1rem;
    }
}

.weather-wind{
  display: inline-flex;
  align-items: center;
  gap: 18px;
}

.arrow{
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid #000; /* kleur pijltje */
    transform: rotate(100deg);
}

.mail-div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.input-mail{
  display: flex;
  text-align: center;
  width: 88%;
  padding: 1.2rem;
  border-radius: 2rem;
}

input:focus{
  outline: 2px solid var(--purple);
  outline-offset: 2px;
}

.button-submit:focus{
  outline: 2px solid var(--purple);
  outline-offset: 2px;
} 

.button-submit:hover{
 background: var(--purple);
  
} 

.button-submit{
  position: relative;
  background-color: var(--black);
  width: 100%;
  padding: 1.2rem;
  border-radius: 2rem;
  flex-shrink: 0;
  @media (min-width: 968px) {
      width: 95%;
    }
}

.btn-text{
  color: var(--grey-lightest);
  transition: 200ms;
}

.button-submit .checkmark{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-size: 1.4rem;
  color: white;
}

.button-submit.sent {
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  border-left: 5px solid var(--purple);
  animation: spin 2s forwards;
  margin: 0 auto;
}

.button-submit.sent .btn-text {
  opacity: 0;
}

.button-submit.sent .checkmark {
  animation: check 200ms 2s forwards;
}

@keyframes spin {
  100% {
    transform: rotate(720deg);
    border: 2px solid var(--purple);
  }
}

@keyframes check {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.content-section{
  @media (min-width: 768px) {
     grid-column: 1 / 2;
     grid-row: 2/3;
  }
  @media (min-width: 968px) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
   }
}

.content-wrapper{
    padding: 1rem;
    @media (min-width: 968px) {
      padding: 1rem 9rem 0 9rem;
    }
}

.weather-info-bar{
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--rose);
  @media (min-width: 968px) {
      display: flex;
      gap: 1.5rem;
      line-height: 1.4;
    }
}

.temperature-content{
  @media (min-width: 968px) {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

.temperature-title{
  font-weight: 400;
}


.temperature{
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.6;
  @media (min-width: 968px) {
    font-size: 4.5rem;
  }
}

.activities{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h4{
      margin: 2rem 0 0 0;
    }
    @media (min-width: 968px) {
    gap: 1.2rem;
  }
}

.activity-card{
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  p{
    margin: 0 0 15px 0;
  }
  h5{
    margin: 20px 0 5px 0;
  }
   @media (min-width: 968px) {
    flex-direction: row;
    gap: 1rem;
    h5{
      margin: 0 0 5px 0;
    }
  }
}

.activity-card:hover{
  background: var(--grey-lightest);
}

.div-img{
  height: 9rem;
  @media (min-width: 968px) {
   height: 7rem;
   width: 8rem;
   flex-shrink: 0;
  }
}

.activity-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (min-width: 968px) {
  }
}

.popover-trigger {
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;                 /* top, right, bottom, left = 0 */
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.popover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 101%;
  height: 100vh;
  max-width: 500px;
  background: #fff;
  border-radius: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1000;
  p{
    font-size: 18px;
  }
  @media (min-width: 768px) {
  max-height: 80vh;
  }
   @media (min-width: 968px) {
  max-height: 95vh;
  max-width: 900px;
  }
}

.popover.active {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.close{
  position: fixed;
  top: 1.5%;
  left: 88%;
  background: none;
  border: none;
  color: white;
  font-size: 1.6rem;
  @media (min-width: 968px) {
  top: 2%;
  left: 94%;
  }
}

.popover-img img{
  width: 100%;
  height: 24vh;
  @media (min-width: 968px) {
  height: 35vh;
  }
}

.popover-content{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1rem;
  p{
    margin: 0;
  }
  h1{
    margin: 0;
    font-size: 2.5rem;
  }
  @media (min-width: 968px) {
  padding: 1rem 10rem 1rem 3rem;
  gap: 1rem;
  }
}

.advice-text{
  background-color: #F0EBFE;
  padding: 0 15px 0 20px;
  width: 10rem;
}

.button-view-event{
  padding: 0.8rem 1rem 0.8rem 1rem;
  width: 7rem;
  background-color: var(--black);
  color: #F0EBFE;
  border-radius: 999px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--black);
    padding: 15rem 10rem;
    /* verticaal horizontaal */
    grid-column: 1 / -1
}

.brand {
  font-weight: 500;
  font-size: 1.5rem;
}

.dept {
  color: #fff;
  font-weight: 900;
  letter-spacing: 0;
}

.reg {
  font-size: 0.4em;
}

.fdnd {
  position: relative;
  top: -3px;
  color: #4cff9a; /* groen uit design */
  font-weight: 800;
}

.x {
  color: #ffffff;
  font-weight: 1000;
}